.game {
  width: 455px;
  height: 520px;
  margin: 10px auto;
}
.game > .main {
  width: 286px;
  height: 520px;
}
.game > .side {
  width: 104px;
  padding: 26px;
}
.game > .side > .next {
  width: 104px;
  height: 104px;
}
canvas {
  background-color: #becfea;
  border: 4px solid #7788aa;
  display: block;
}
